.home__heading-wrapper {
  grid-column: 1 / -1;

  @media (--desktop-s) {
    grid-column: span 4;
  }

  @media (--desktop-m) {
    grid-column: span 6;
  }

  @media (--desktop-l) {
    grid-column: span 7;
  }

  @media (--desktop-xl) {
    grid-column: span 5;
  }
}

.home__heading {
  margin-bottom: var(--gap);
}

.home__text {
  margin-bottom: var(--gap);
}

.home__video {
  grid-column: 1 / -1;
  width: 100%;
  border: 1px solid var(--border-color);
  box-sizing: border-box;

  @media (--desktop-s) {
    grid-row: 1;
    grid-column: 5 / span 4;
  }

  @media (--desktop-m) {
    grid-column: 7 / span 6;
    grid-row: span 2;
  }

  @media (--desktop-l) {
    grid-column: 8 / span 9;
    height: 480px;
  }

  @media (--desktop-xl) {
    grid-row: span 2;
    grid-column: 7 / span 7;
    height: 540px;
  }
}

.home__image-list {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  @media (--tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (--desktop-l) {
    flex-wrap: nowrap;
  }

  @media (--desktop-xl) {
    grid-column: span 12;
  }
}

.home__image-item {
  display: none;

  @media (--tablet) {
    display: block;
    width: calc((100% - var(--gap)) / 2);
  }

  @media (--desktop-m) {
    width: calc(25% - (3 * var(--gap) / 4));
  }
}

.home__image-item:first-of-type {
  display: block;
}

.home__image {
  display: block;
  min-height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  object-fit: contain;

  @media (--desktop-l) {
    /* height: 280px; */
  }
}

.home__section-heading,
.home__project-heading,
.home__project-button {
  grid-column: 1 / -1;
}

.home__section-heading {
  margin: var(--gap) 0;
}

.home__project-heading {
  grid-column: 1 / -1;
  @media (--desktop-xl) {
    grid-column: span 2;
  }
}

.home__project-button {
  @media (--desktop-s) {
    grid-column: -4 / span 3;
  }

  @media (--desktop-m) {
    grid-column: -5 / span 4;
  }

  @media (--desktop-xl) {
    grid-column: -3 / span 2;
    align-self: end;
  }
}

.home__contacts-heading {
  margin-top: calc(2 * var(--gap));
  margin-bottom: calc(2 * var(--gap));
}

.home__contacts-list {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gap));
  margin-bottom: calc(4 * var(--gap));

  @media (--tablet) {
    flex-direction: row;
    gap: calc(2 * var(--gap));
  }
}

.home__contacts-list li {
  flex-basis: 25%;
}
